@model curmudgeon.ViewModels.WritePostViewModel
@{
    ViewData["Title"] = "Curmudgeon - Update Post";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Update Post</h2>

@using (Html.BeginForm())
{
    @Html.LabelFor(p => p.Title)
    @Html.TextBoxFor(p => p.Title)
    <br />
    @Html.TextBoxFor(p => p.Content)
    
    <br />
    @Html.TextAreaFor(p => p.TagsString)
    <p>Make post private: @Html.CheckBoxFor(p => p.IsPrivate)</p>
    @Html.HiddenFor(p => p.PostId)

    <input type="submit" value="Publish" class="btn btn-default" />
}
<br />
<input type="button" value="Cancel" onclick="location.href='/Posts/'" />
