@model curmudgeon.ViewModels.ReadPostViewModel
@{
    ViewData["Title"] = "Curmudgeon";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>@Model.ReadPost.Title</h3>
<div>@Model.ReadPost.Content</div>

<ul id="post_comments">
    @foreach (var comment in Model.ReadPost.Comments)
    {
        <li>@Html.ActionLink(comment.Title, "Details", "Comments", new {id = comment.CommentId })</li>
    }
</ul>

<h4>Tagged under:</h4>
<ul id="post_tags">
    @foreach (var tag in Model.ReadPostTags)
    {
        <li>@Html.ActionLink(tag.Title, "Read", "Tags", new { id = tag.Title.ToString().ToLower() })</li>
    }
</ul>

@Html.ActionLink("Add a Comment", "Write", "Comments", new { id = Model.ReadPost.PostId})

@Html.ActionLink("Edit this Post", "Edit", "Posts", new { id = Model.ReadPost.PostId })

@Html.ActionLink("Return to Posts", "Index")