@model curmudgeon.ViewModels.WritePostViewModel
@{
    ViewData["Title"] = "Curmudgeon - Write a New Post";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Write a New Post</h2>

@using (Html.BeginForm())
{
    @Html.LabelFor(p => p.Title)
    @Html.TextBoxFor(p => p.Title)
    <br />
    @Html.TextAreaFor(p => p.Content)
    <br />
    <p>Add a slug:</p>
    @Html.TextAreaFor(p => p.Slug)
    <br />

    @Html.TextAreaFor(p => p.TagsString)
    <br />
    <p>Make post private: @Html.CheckBoxFor(p => p.IsPrivate)</p>

<input type="submit" value="Publish" class="btn btn-default" />

<input type="button" value="Save Draft" class="btn btn-default" id="save-draft" />
}

<script>
    (function () {
        
        $("#save-draft").on("click", function () {
            var draft = {
                draftTitle: $("#Title").val(),
                draftContent: $("#Content").val(),
                draftTagsString: $("#TagsString").val(),
                draftIsPrivate: $("#IsPrivate").val(),
                draftSlug: $("#Slug").val()
            };

            $.ajax({
                url: '@Url.Action("SaveDraft", "Posts")',
                type: 'POST',
                dataType: 'json',
                data: draft,
                success: function (result) {
                    console.log("Success?!");
                    console.log(result);
                }
            });
        })
     })();
</script>