
@model curmudgeon.ViewModels.WritePostViewModel
@{
    ViewData["Title"] = "Curmudgeon - Write a New Post";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/scripts/jquery-3.2.1.min.js"></script>

<h2>Write a New Post</h2>

@using (Html.BeginForm()){ 
    @Html.LabelFor(p => p.Title)
    @Html.TextBoxFor(p => p.Title)
    <br />
    @Html.TextBoxFor(p => p.Content)
    <br />
    <p>Tags(separate with a comma)</p>
    @Html.TextBoxFor(p => p.TagsString)
    <br />
    <p>Make post private: @Html.CheckBoxFor(p => p.IsPrivate)</p>
    
<input type="submit" value="Publish" class="btn btn-default" />

<input type="button" value="Save Draft" class="btn btn-default" id="save-draft" />
}

<script>
    (function() {
        thisDraftId = null;

        $("#save-draft").on("click", function () {
            var draft = {
                draftTitle: $("#Title").val(),
                draftContent: $("#Content").val(),
                draftTagsString: $("#TagsString").val(),
                draftIsPrivate: $("#IsPrivate").val(),
                draftId: thisDraftId
            };

            $.ajax({
                url: '@Url.Action("SaveDraft", "Posts")',
                type: 'POST',
                dataType: 'json',
                data: draft,
                success: function (result) {
                    console.log("Success?!");
                    console.log(result);
                    thisDraftId = result.draftId;
                    
                    console.log("this draft ID is " + thisDraftId);
                }
            });
        })
     })();
</script>